.socialMediaIcon{
    gap: 15px;
}
.first-nav{
    background-color: #1F1F2E;
}
.contact-info{
    padding-left: 40px;
}
.contact-info .nav li{
    transition: 1s;
}
.contact-info .nav li:nth-child(1){
    padding-right: 15px;
    border-right: 2px solid white;
}
.contact-info .nav li:hover{
    color: #FF4800;
}
.socialMediaInfo{
    padding-right: 40px;
}
.socialMediaInfo .socialMediaIcon .icon{
    color: white;
    transition: 1s;
}
.socialMediaInfo .socialMediaIcon .icon:hover{
    color: #FF4800;
}
.navbar .navbar-nav .nav-link.active {
    color: #FFFFFF;
    background-color: #FF4800;
}
.navbar .navbar-nav .nav-link:hover {
    color: #FFFFFF;
    background-color: #FF4800;
}
.navbar .logo{
    text-decoration: none;
    color:#FF4800;
    font-size: 3em;
    margin-left: 40px;
}
.navbar .logo:hover{
    color: #FF4800;
}
.navbar-light .navbar-nav .nav-link{
    padding: 30px 15px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}
.btn-primary {
    color: #fff;
    background-color: #FF4800;
    border-color: #FF4800;
}
.navbar .btn{
    margin-right: 40px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.navbar .btn:hover{
    background-color: #FF4800;
    border-color: #FF4800;
}
.hero-section{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/header.jpg");
    background-size:cover;
    height: 60vh;
}
/*.hero-section .container{*/
/*    width: 100%;*/
/*    background-image: url("../images/header.jpg");*/
/*    z-index:2;*/
/*}*/